astroid==1.6.6
certifi==2019.11.28
chardet==3.0.4
Django==2.0.2
django-markdownx==3.0.1
django-widget-tweaks==1.4.8
html5lib==1.0.1
idna==2.8
lazy-object-proxy==1.4.3
Markdown==3.2.1
mccabe==0.6.1
parso==0.1.1
pbr==5.4.3
Pillow==8.3.2
python-dateutil==2.8.1
pytz==2019.3
requests==2.22.0
six==1.13.0
soupsieve==1.9.5
gunicorn==20.0.4
virtualenv==16.2.0                                                                                               
virtualenv-clone==0.5.3                                                                                          
virtualenvwrapper==4.8.4 
whitenoise==5.1