{% extends 'polls/base.html' %} {% block content %} {% load md %} {% load static %}

<body>
    <link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}"> {% if playnikki_list %}
    <div class="card-group">
            {% for playnikki in playnikki_list %}
                <div class="col-sm-6 col-md-6">
                    <div class="card border-dark m-1">
                        {% if playnikki.image %} 　<img src="{{ playnikki.image.url }}" class="card-img-top" alt="..."> {% endif %}
                        <div class="card-body">
                            <a href="{% url 'nikki' playnikki.id %}">
                                <h3><class="card-title">{{playnikki.title}}</h3>
                            </a>
                            <h4 class="card-subtitle mb-2 text-muted">{{playnikki.user.username}}</h4>
                            <h6 class="card-subtitle mb-2 text-muted">{{playnikki.pub_date}}</h6>
                            <p class="card-text">{{playnikki.nikki| mark_down_to_text |truncatechars:30 }}</p>
                            {% for tag in playnikki.tag.all %}
                            <p><button type="button" class="btn btn-primary btn-sm">{{tag.name}}</button></p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p>No polls are available.</p>
        {% endif %}
        <div class = "container ">
            <div class = "row justify-content-center">
                <div class = " alert alert-primary" role="alert">
                    <div class = "text-center">
                        <h4><a href= "{% url 'nikkilist' %}"><p  class='text-center m-0 mt-2  font-weight-bold'>過去の投稿一覧へ</p></a></h4>
                    </div>
                </div>
            </div>
        </div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3256.962468685579!2d139.66652191462933!3d35.28205938028928!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60184074f0111e63%3A0x9d4f8d7d998507f9!2z44CSMjM4LTAwMDgg56We5aWI5bed55yM5qiq6aCI6LOA5biC5aSn5rud55S677yR5LiB55uu77yZ!5e0!3m2!1sja!2sjp!4v1590581304037!5m2!1sja!2sjp" width="400" height="250" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </div>
</body>
{% endblock %}
